<footer class="footer">
  <div class="container footer-block">
    <div class="footer-section">
      <div id="w-node-bfcd3090-71c1-393f-9445-4fa187a42bc6-8d2101f2" class="footer-col first">
        <div class="brand-block-footer">
          <a href="/"{{ footer_brand_aria }} class="brand footer-logo w-inline-block{{ footer_brand_current_class }}">
            <img src="{{ asset_prefix }}images/brandmark-design.png" sizes="(max-width: 2032px) 100vw, 2032px" srcset="{{ asset_prefix }}images/brandmark-design-500.png 500w, {{ asset_prefix }}images/brandmark-design-800.png 800w, {{ asset_prefix }}images/brandmark-design-1080.png 1080w, {{ asset_prefix }}images/brandmark-design-1600.png 1600w, {{ asset_prefix }}images/brandmark-design.png 2032w" alt="" class="logo"/>
          </a>
        </div>
      </div>
      <div id="w-node-_4c817d60-0c3a-be2a-9da0-1a0bedd089c4-8d2101f2" class="footer-col flex-vertical">
        <center>
        <div class="footer-title">Download the app</div>
        <a href="https://apps.apple.com/us/app/traafik-app/id6758915184"><img width="150" src="{{ asset_prefix }}images/apple_appstore.png" alt="Download on the Apple App Store" class="margin-bottom"/></a>
        <a id="google-play-link" href="https://play.google.com/store/apps/details?id=com.traafik.app" target="_blank" rel="noopener noreferrer" class="w-inline-block">
          <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" alt="Get it on Google Play" class="margin-bottom"/>
        </a>
        </center>
      </div>
      <div id="w-node-_2243fa56-e108-f17a-1f3c-87eba86c89b7-8d2101f2" class="footer-col flex-vertical">
        <div class="footer-title">Useful Links</div>
        <a href="/"{{ footer_home_aria }} class="copyright-link muted margin-bottom{{ footer_home_current_class }}">Home</a>
        <a href="/motorists"{{ footer_motorists_aria }} class="copyright-link muted margin-bottom{{ footer_motorists_current_class }}">Motorists</a>
        <a href="/law-enforcement"{{ footer_law_aria }} class="copyright-link muted margin-bottom{{ footer_law_current_class }}">Law Enforcement</a>
      </div>
      <address id="w-node-fe42ffee-5a39-d248-8ef1-d09381361e41-8d2101f2" class="footer-col flex-vertical">
        <div class="footer-title">Company</div>
        <a href="/template-files/about-us" class="copyright-link muted margin-bottom hide">About Us</a>
        <a href="/#contact" class="copyright-link muted margin-bottom">Contact</a>
      </address>
      <address id="w-node-_9f477b3c-bb25-0563-08b2-b0c1d2d87120-8d2101f2" class="footer-col flex-vertical">
        <div class="footer-title">Follow us</div>
        <a href="https://youtube.com/@Traafik" target="_blank" rel="noopener noreferrer" class="copyright-link muted margin-bottom">YouTube</a>
        <a href="https://www.instagram.com/traafikdotcom" target="_blank" rel="noopener noreferrer" class="copyright-link muted margin-bottom">Instagram</a>
      </address>
    </div>
    <div class="bottom-footer">
      <div class="copywrite">
        <span class="footer-link-year"></span>&copy; Traafik. All Rights Reserved.
      </div>
    </div>
  </div>
  <div class="footer-bg"></div>
</footer>
