<div class="footer-cta-wrap">
  <div class="cta-container">
    <div class="spacer-medium"></div>
    <div class="footer-cta-itle">Traffic Stops Reimagined.<br/></div>
    <div class="white-paragraph hide">This is some text inside of a div block.</div>
    <div class="spacer-medium"></div>
  </div>
  <img src="{{ asset_prefix }}images/circle-shape.svg" loading="eager" alt="" class="cta-circle left"/>
  <img src="{{ asset_prefix }}images/circle-shape.svg" loading="eager" alt="" class="cta-circle right-bottom"/>
  <img src="{{ asset_prefix }}images/circle-shape.svg" loading="eager" alt="" class="cta-circle right-top"/>
</div>

