<div data-collapse="medium" data-animation="over-right" data-duration="600" data-easing="ease-out-quint" data-easing2="ease-out-quint" role="banner" class="nav-bar w-nav">
  <div class="container navbar">
    <div class="logo-wrapper">
      <a href="/"{{ nav_brand_aria }} class="brand w-nav-brand{{ nav_brand_current_class }}">
        <img src="{{ asset_prefix }}images/brandmark-design.png" sizes="(max-width: 479px) 98vw, (max-width: 767px) 99vw, (max-width: 2032px) 100vw, 2032px" srcset="{{ asset_prefix }}images/brandmark-design-500.png 500w, {{ asset_prefix }}images/brandmark-design-800.png 800w, {{ asset_prefix }}images/brandmark-design-1080.png 1080w, {{ asset_prefix }}images/brandmark-design-1600.png 1600w, {{ asset_prefix }}images/brandmark-design.png 2032w" alt="" class="logo"/>
      </a>
    </div>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a href="/"{{ nav_home_aria }} class="nav-link-wrap w-inline-block{{ nav_home_current_class }}"><div>Home</div></a>
      <a href="/motorists"{{ nav_motorists_aria }} class="nav-link-wrap w-inline-block{{ nav_motorists_current_class }}"><div>Motorists</div></a>
      <a href="/law-enforcement"{{ nav_law_aria }} class="nav-link-wrap w-inline-block{{ nav_law_current_class }}"><div>Law Enforcement</div></a>
      <a href="/#about" class="nav-link-wrap hide w-inline-block"><div>About</div></a>
      <a href="/#contact" class="nav-link-wrap w-inline-block"><div>Contact</div></a>
    </nav>
    <div class="menu-button w-nav-button">
      <div class="menu-line top"></div>
      <div class="menu-line bottom"></div>
    </div>
  </div>
</div>
