<div class="intro-section">
  <div class="container"></div>
  <div class="homehero--content">
    <h1 data-w-id="f5007b76-4ee8-5b5c-ec59-693c385b30f7" class="intro-title">
      <span class="text-span-2">Meet </span><span class="homeherotext__highlight">Traafik</span>
    </h1>
    <p data-w-id="f5007b76-4ee8-5b5c-ec59-693c385b30fb" class="hero--bodycopy">Traffic Stops Reimagined</p>
    <p data-w-id="b7af3a90-fa7d-0487-5f30-d473e2230e55" class="hero--bodycopy">The First Platform Designed for Motorists and Law Enforcement with Safety in mind for both. <br/>Everybody hates traffic stops!</p>
    <div data-w-id="home-video-embed" class="hero-video-embed" style="position:relative;width:100%;max-width:560px;aspect-ratio:16/9;margin:24px auto 0;">
      <iframe style="position:absolute;inset:0;width:100%;height:100%;" src="https://www.youtube.com/embed/MZehB2Ag35Y?si=_gzVzRcCzzSctCZ9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="spacer-medium"></div>
    <div data-w-id="f5007b76-4ee8-5b5c-ec59-693c385b30fd" class="div-block-3">
      <a id="w-node-fb9f57f1-f22e-4f52-fbd4-6648e740125e-86342a30" data-w-id="fb9f57f1-f22e-4f52-fbd4-6648e740125e" href="/motorists" class="hero-choose-block w-inline-block">
        <h2 class="white-paragraph">Motorists</h2>
        <img src="images/motorist-phone.png" loading="lazy" style="-webkit-transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" sizes="(max-width: 2240px) 100vw, 2240px" alt="Motorist-phone" srcset="images/motorist-phone-500.png 500w, images/motorist-phone-800.png 800w, images/motorist-phone-1080.png 1080w, images/motorist-phone-1600.png 1600w, images/motorist-phone-2000.png 2000w, images/motorist-phone.png 2240w" class="intro-image"/>
        <div class="primary-btn">get more info</div>
      </a>
      <a id="w-node-ce9b9fd0-f1c1-c091-6b1d-518488cd41eb-86342a30" data-w-id="ce9b9fd0-f1c1-c091-6b1d-518488cd41eb" href="/law-enforcement" class="hero-choose-block w-inline-block">
        <h2 class="white-paragraph">Law Enforcement</h2>
        <img src="images/ipad-law-enforcement.png" loading="lazy" sizes="(max-width: 1500px) 100vw, 1500px" srcset="images/ipad-law-enforcement-500.png 500w, images/ipad-law-enforcement-800.png 800w, images/ipad-law-enforcement-1080.png 1080w, images/ipad-law-enforcement.png 1500w" alt="law enforcement phone" class="intro-image tablet"/>
        <div class="primary-btn">get more info</div>
      </a>
    </div>
  </div>
</div>

<section id="contact" class="section contact">
  <div class="container contact">
    <div class="contact-header">
      <h2 data-w-id="4a5523b7-ccda-980e-d5a6-3276ac0fbd03" class="section-title law-e">Contact</h2>
    </div>
    <div data-w-id="9cc22be3-de29-5c7e-322a-e5e306712878" class="contact-grid">
      <div>
        <h2 class="contact-title">Municipalities got a question?</h2>
        <p class="contact-paragraph">Send us an e-mail or fill out the form and we&#x27;ll get back to you soon.</p>
        <div class="contact-block">
          <div class="contact-icon">
            <img src="images/building.svg" loading="lazy" alt="" class="additional-feature-icon-img"/>
          </div>
          <a href="#" target="_blank" class="contact-info-text">541 W. Capital Expwy #276<br/>San Jose, CA. 95136</a>
        </div>
        <div class="contact-block center">
          <div class="contact-icon">
            <img src="images/mail.svg" loading="lazy" alt="" class="additional-feature-icon-img"/>
          </div>
          <a href="mailto:pullover@traafik.com" class="contact-info-text"> pullover@traafik.com</a>
        </div>
      </div>
      <div id="w-node-_61d79d02-6f32-3ac1-3a64-2d6d34427012-86342a30" class="w-form">
        <form id="wf-form-home-page-form" name="wf-form-home-page-form" data-name="home page form" method="get" class="form-contact" data-wf-page-id="64134e100f89139486342a30" data-wf-element-id="61d79d02-6f32-3ac1-3a64-2d6d34427013">
          <div class="form-contact_wrapper">
            <label for="FNAME-2">Full Name</label>
            <input class="text-field w-input" maxlength="256" name="FNAME" data-name="FNAME" placeholder="Enter your full name" type="text" id="FNAME-2"/>
          </div>
          <div id="w-node-bc5d9573-4eb1-8946-773c-79649adff0b7-86342a30" class="form-contact_wrapper">
            <label for="EMAIL-5">Email Address</label>
            <input class="text-field w-input" maxlength="256" name="EMAIL" data-name="EMAIL" placeholder="Enter your email" type="email" id="EMAIL-5" required=""/>
          </div>
          <div id="w-node-_59d9dc21-6a17-1567-04de-d4ed3b7bb296-86342a30" class="form-contact_wrapper">
            <label for="PHONE-2">Phone Number</label>
            <input class="text-field w-input" maxlength="256" name="PHONE" data-name="PHONE" placeholder="Enter your phone number" type="tel" id="PHONE-2"/>
          </div>
          <div id="w-node-_40d754e5-69db-6802-f6a8-48575038069c-86342a30" class="form-contact_wrapper">
            <label for="CMPNY">Company</label>
            <input class="text-field w-input" maxlength="256" name="CMPNY" data-name="CMPNY" placeholder="Enter your company name" type="text" id="CMPNY"/>
          </div>
          <div id="w-node-_9a3b2808-857d-a6f6-cb5c-33ce8b62c793-86342a30" class="form-contact_wrapper">
            <label for="WEB-2">Website</label>
            <input class="text-field w-input" maxlength="256" name="WEB" data-name="WEB" placeholder="Enter your website" type="text" id="WEB-2"/>
          </div>
          <div id="w-node-_5404be05-1c42-6f55-52f3-d2690dba8c69-86342a30" class="form-contact_wrapper">
            <label for="POS-2">Position</label>
            <input class="text-field w-input" maxlength="256" name="POS" data-name="POS" placeholder="Enter your position" type="text" id="POS-2"/>
          </div>
          <input type="submit" data-wait="Please wait..." class="primary-btn form w-button" value="request a demo"/>
        </form>
        <div class="success-message w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="error-message w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <div class="section-flex-wrap center features flip-position"></div>
  </div>
</section>

<div id="about" class="section law-e hide">
  <div class="container-center">
    <div class="section-flex-wrap center features flip-position">
      <div class="div-block">
        <h2 data-w-id="b089c0ad-84e7-44ff-15fe-9d6a41e93f09" class="section-title law-e">About <span class="blue">Traafik</span></h2>
        <p data-w-id="b089c0ad-84e7-44ff-15fe-9d6a41e93f0d" class="section-paragraph _60ch">We are a team dedicated to re-shaping the future of traffic stops. <br/>Technology that helps both Motorists and Law Enforcement.<br/></p>
      </div>
    </div>
  </div>
  <div class="div-block-2"></div>
</div>

