<div class="section-law-e">
    <div class="container">
      <div class="hero-section-v1">
        <div id="w-node-e5362681-ad1a-d161-8223-80016d836f86-6d836f83" class="hero-left">
          <h1 data-w-id="e5362681-ad1a-d161-8223-80016d836f87" class="hero-title law-e"><em>Smarter Technology for </em><span class="blue"><em>Law Enforcement</em></span></h1>
          <p data-w-id="e5362681-ad1a-d161-8223-80016d836f89" class="hero-text">Transmit, Verify, and confirm motorist profiles without any guesswork.<br/> <br/>Traafik's innovative patented solution, utilizing the transmission of critical data point that aids law enforcement during traffic stops. Improving the future of Policing.</p>
          <div data-w-id="113e0c65-3330-c114-b27b-b2b4233c17a4" class="trail-form w-form">
            <form id="wf-form-Law-enforcement-subscription" name="wf-form-Law-enforcement-subscription" data-name="Law enforcement subscription" method="get" class="form-contact">
              <div class="text-field-flex">
                <input class="text-field inline dark w-input" maxlength="256" name="FNAME" data-name="FNAME" placeholder="Full name " type="text" id="FNAME" required=""/>
                <input class="text-field inline dark w-input" maxlength="256" name="TITLE" data-name="TITLE" placeholder="Title" type="text" id="TITLE-2" required=""/>
                <input class="text-field inline dark w-node-_113e0c65-3330-c114-b27b-b2b4233c17a9-6d836f83 w-input" maxlength="256" name="EMAIL" data-name="EMAIL" placeholder="Company e-mail " type="email" id="EMAIL" required=""/>
                <input type="submit" data-wait="Please wait..." id="w-node-_113e0c65-3330-c114-b27b-b2b4233c17ab-6d836f83" class="primary-btn no-margin-top no-margin-right w-button" value="Get the whitepaper"/>
              </div>
            </form>
            <div class="success-message w-form-done"><div>Thank you! Your submission has been received!</div></div>
            <div class="error-message w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
          </div>
        </div>
        <img src="../images/tablet-shadow.png" loading="eager" id="w-node-e5362681-ad1a-d161-8223-80016d836f8e-6d836f83" sizes="(max-width: 574px) 100vw, 574px" alt="" srcset="../images/tablet-shadow-500.png 500w, ../images/tablet-shadow.png 574w" class="hero-right law hide"/>
        <div data-delay="1500" data-animation="fade" class="slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="true" data-w-id="89c40842-3a29-11bb-e3bf-c96e80e361fb" data-autoplay-limit="0" data-nav-spacing="3" data-duration="600" data-infinite="true">
          <div class="mask w-slider-mask">
            <div class="slide-2 w-slide"><img src="../images/ipad-law-enforcement.png" loading="lazy" sizes="(max-width: 1500px) 100vw, 1500px" srcset="../images/ipad-law-enforcement-500.png 500w, ../images/ipad-law-enforcement-800.png 800w, ../images/ipad-law-enforcement-1080.png 1080w, ../images/ipad-law-enforcement.png 1500w" alt="" class="image-7 tablet"/></div>
            <div class="slide-2 w-slide"><img src="../images/ipad-law-enforcement-2.png" loading="lazy" sizes="(max-width: 1500px) 100vw, 1500px" srcset="../images/ipad-law-enforcement-2-500.png 500w, ../images/ipad-law-enforcement-2-800.png 800w, ../images/ipad-law-enforcement-2-1080.png 1080w, ../images/ipad-law-enforcement-2.png 1500w" alt="" class="image-7 tablet"/></div>
            <div class="slide-2 w-slide"><img src="../images/ipad-law-enforcement-3.png" loading="lazy" sizes="(max-width: 1500px) 100vw, 1500px" srcset="../images/ipad-law-enforcement-3-500.png 500w, ../images/ipad-law-enforcement-3-800.png 800w, ../images/ipad-law-enforcement-3-1080.png 1080w, ../images/ipad-law-enforcement-3.png 1500w" alt="" class="image-7 tablet"/></div>
          </div>
          <div class="left-arrow-2 w-slider-arrow-left"><img src="../images/slider-arrow.png" loading="lazy" width="48" alt="" class="icon-2"/></div>
          <div class="right-arrow-2 w-slider-arrow-right"><img src="../images/slider-arrow.png" loading="lazy" width="48" alt="" class="icon-2 right"/></div>
          <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
        <div id="w-node-_8798b7b1-a405-8509-2adc-79b21cc62266-6d836f83" class="hero-circle top-right blue"></div>
        <div id="w-node-_00108aea-bc5e-b9d7-5e08-f3e31bc1a55f-6d836f83" class="hero-circle bottom-right blue"></div>
      </div>
    </div>
  </div>

  <div id="Features-Text" class="section law-e">
    <div class="container-center">
      <div class="section-flex-wrap center features flip-position">
        <div class="div-block">
          <h2 data-w-id="07c75238-5bfd-0ef8-0cf1-46e218251673" class="section-title law-e">Improving the Future of <span class="blue">Policing</span></h2>
          <p data-w-id="07c75238-5bfd-0ef8-0cf1-46e218251675" class="section-paragraph _60ch">Traafik's enterprise platform was designed for law enforcement to easily transition from conventional traffic stops to a more efficient, safer, unprecedented approach. <br/><br/>Switching over allows agencies to increase revenues, build community trust, and remove the current scrutiny.<br/><br/>Traafik's platorm will increase the agency recruitment rate, which in recent years have steadily declined.</p>
        </div>
      </div>
    </div>
    <div class="div-block-2"></div>
  </div>

  <div class="section law-e">
    <div class="container features">
      <div data-w-id="f9c281c4-0240-ca6e-00fe-456d7ee4f71d">
        <h2 class="container-center law-e"><strong>Groundbreaking-leading features &amp; </strong><span class="blue"><strong>technology</strong></span></h2>
      </div>
      <div class="section-flex-wrap">
        <div class="half-div no-side-padding">
          <div class="metrics-grid">
            <div class="metrics-wrap">
              <div class="metric-number-wrap"><img src="../images/icon-community.png" loading="lazy" alt="" class="features-icon"/></div>
              <div class="metrics-title">Bolster Community Trust</div>
              <p class="metric-paragraph hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p>
            </div>
            <div class="metrics-wrap">
              <div class="metric-number-wrap"><img src="../images/icon-revenue.png" loading="lazy" alt="" class="features-icon"/></div>
              <div class="metrics-title">Generate More Revenue</div>
              <p class="metric-paragraph hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p>
            </div>
            <div class="metrics-wrap">
              <div class="metric-number-wrap"><img src="../images/icon-protection.png" loading="lazy" alt="" class="features-icon"/></div>
              <div class="metrics-title">Protection for Officers</div>
              <p class="metric-paragraph hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p>
            </div>
            <div class="metrics-wrap">
              <div class="metric-number-wrap"><img src="../images/icon-error.png" loading="lazy" alt="" class="features-icon"/></div>
              <div class="metrics-title">Reduction in Human Error</div>
              <p class="metric-paragraph hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p>
            </div>
          </div>
        </div>
        <div class="half-div margin-left">
          <p data-w-id="48f2124c-016c-c7cb-b14f-181aa703afc4" class="text-medium">Our enterprise software integrates seamlessly with law enforcement IT and RMS systems during stops, which provides officers with critical populated data points of each motorist's profile.</p>
        </div>
      </div>
      <div class="hero-circle left blue"></div>
    </div>
  </div>

  <div class="section law-e">
    <div class="container">
      <div class="full-width-video-wrap">
        <img src="../images/police-car.jpeg" loading="eager" sizes="(max-width: 6720px) 100vw, 6720px" srcset="../images/police-car-500.jpeg 500w, ../images/police-car-800.jpeg 800w, ../images/police-car-1080.jpeg 1080w, ../images/police-car-1600.jpeg 1600w, ../images/police-car-2000.jpeg 2000w, ../images/police-car-2600.jpeg 2600w, ../images/police-car-3200.jpeg 3200w, ../images/police-car.jpeg 6720w" alt="police-car" class="zoom-image"/>
      </div>
    </div>
  </div>

  