<div data-w-id="2e2f58b6-d8cb-4085-c75c-c2368523ebd9" class="hero-section blue">
    <div class="container relative">
      <div class="hero-section-v1">
        <div id="w-node-_2e2f58b6-d8cb-4085-c75c-c2368523ebdc-8523ebd9" class="hero-left z-index">
          <div class="spacer-medium"></div>
          <h1 data-w-id="2e2f58b6-d8cb-4085-c75c-c2368523ebdd" class="hero-title white"><em>Meet </em><span class="homeherotext__highlight">Traafik</span><br/></h1>
          <div class="spacer-medium"></div>
          <p data-w-id="bc3f5b52-7041-1d0f-a8f5-413bc788647d" class="hero-text white">The First Platform Designed for Motorists and Law Enforcement with Safety in mind for both. <br/><br/>Everyone Hates Traffic Stops!<br/><br/>Traafik makes this a little less tedious and a lot safer. Using innovative technology, Traafik is convenient and easy to use. Now motorists can streamline an entire traffic stop in less than 10 minutes.<br/></p>
          <div class="trail-form w-form">
            <form id="wf-form-Motorist-subscription" name="wf-form-Motorist-subscription" data-name="Motorist subscription" action="/thank-you-page-motorists" method="get" class="form-contact">
              <div data-w-id="2e2f58b6-d8cb-4085-c75c-c2368523ebe3" class="text-field-flex">
                <input class="text-field inline w-input" maxlength="256" name="NAME" data-name="NAME" placeholder="Name" type="text" id="NAME" required=""/>
                <input class="text-field inline w-node-b144dbb8-7701-da4a-e7a3-57361b1c340a-8523ebd9 w-input" maxlength="256" name="EMAIL" data-name="EMAIL" placeholder="E-mail address" type="email" id="EMAIL" required=""/>
                <input type="submit" data-wait="Please wait..." id="w-node-_2e2f58b6-d8cb-4085-c75c-c2368523ebe5-8523ebd9" class="primary-btn no-margin-top no-margin-right w-button" value="Join the list"/>
              </div>
            </form>
            <div class="success-message w-form-done"><div>Thank you! Your submission has been received!</div></div>
            <div class="error-message w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
          </div>
        </div>
        <div data-delay="1500" data-animation="fade" class="slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="true" data-w-id="94b926da-b95d-18a9-e266-5ee04fd2c206" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="mask w-slider-mask">
            <div class="slide-2 w-slide"><img src="../images/motorist-phone.png" loading="lazy" sizes="(max-width: 2240px) 100vw, 2240px" srcset="../images/motorist-phone-500.png 500w, ../images/motorist-phone-800.png 800w, ../images/motorist-phone-1080.png 1080w, ../images/motorist-phone-1600.png 1600w, ../images/motorist-phone-2000.png 2000w, ../images/motorist-phone.png 2240w" alt="" class="image-7"/></div>
            <div class="slide-2 w-slide"><img src="../images/slide-motorist-1.png" loading="lazy" sizes="(max-width: 2240px) 100vw, 2240px" srcset="../images/slide-motorist-1-500.png 500w, ../images/slide-motorist-1-800.png 800w, ../images/slide-motorist-1-1080.png 1080w, ../images/slide-motorist-1-1600.png 1600w, ../images/slide-motorist-1-2000.png 2000w, ../images/slide-motorist-1.png 2240w" alt="" class="image-7"/></div>
            <div class="slide-2 w-slide"><img src="../images/slide-motorist-3.png" loading="lazy" sizes="(max-width: 2240px) 100vw, 2240px" srcset="../images/slide-motorist-3-500.png 500w, ../images/slide-motorist-3-800.png 800w, ../images/slide-motorist-3-1080.png 1080w, ../images/slide-motorist-3-1600.png 1600w, ../images/slide-motorist-3-2000.png 2000w, ../images/slide-motorist-3.png 2240w" alt="" class="image-7"/></div>
            <div class="slide-2 w-slide"><img src="../images/slide-motorist-4.png" loading="lazy" sizes="(max-width: 2240px) 100vw, 2240px" srcset="../images/slide-motorist-4-500.png 500w, ../images/slide-motorist-4-800.png 800w, ../images/slide-motorist-4-1080.png 1080w, ../images/slide-motorist-4-1600.png 1600w, ../images/slide-motorist-4-2000.png 2000w, ../images/slide-motorist-4.png 2240w" alt="" class="image-7"/></div>
            <div class="slide-2 w-slide"><img src="../images/slide-motorist-5.png" loading="lazy" sizes="(max-width: 2240px) 100vw, 2240px" srcset="../images/slide-motorist-5-500.png 500w, ../images/slide-motorist-5-800.png 800w, ../images/slide-motorist-5-1080.png 1080w, ../images/slide-motorist-5-1600.png 1600w, ../images/slide-motorist-5-2000.png 2000w, ../images/slide-motorist-5.png 2240w" alt="" class="image-7"/></div>
            <div class="slide-2 w-slide"><img src="../images/slide-motorist-6.png" loading="lazy" sizes="(max-width: 2240px) 100vw, 2240px" srcset="../images/slide-motorist-6-500.png 500w, ../images/slide-motorist-6-800.png 800w, ../images/slide-motorist-6-1080.png 1080w, ../images/slide-motorist-6-1600.png 1600w, ../images/slide-motorist-6-2000.png 2000w, ../images/slide-motorist-6.png 2240w" alt="" class="image-7"/></div>
            <div class="slide-2 w-slide"><img src="../images/slide-motorist-7.png" loading="lazy" sizes="(max-width: 2240px) 100vw, 2240px" srcset="../images/slide-motorist-7-500.png 500w, ../images/slide-motorist-7-800.png 800w, ../images/slide-motorist-7-1080.png 1080w, ../images/slide-motorist-7-1600.png 1600w, ../images/slide-motorist-7-2000.png 2000w, ../images/slide-motorist-7.png 2240w" alt="" class="image-7"/></div>
            <div class="slide-2 w-slide"><img src="../images/slide-motorist-8.png" loading="lazy" sizes="(max-width: 2240px) 100vw, 2240px" srcset="../images/slide-motorist-8-500.png 500w, ../images/slide-motorist-8-800.png 800w, ../images/slide-motorist-8-1080.png 1080w, ../images/slide-motorist-8-1600.png 1600w, ../images/slide-motorist-8-2000.png 2000w, ../images/slide-motorist-8.png 2240w" alt="" class="image-7"/></div>
            <div class="slide-2 w-slide"><img src="../images/slide-motorist-9.png" loading="lazy" sizes="(max-width: 2240px) 100vw, 2240px" srcset="../images/slide-motorist-9-500.png 500w, ../images/slide-motorist-9-800.png 800w, ../images/slide-motorist-9-1080.png 1080w, ../images/slide-motorist-9-1600.png 1600w, ../images/slide-motorist-9-2000.png 2000w, ../images/slide-motorist-9.png 2240w" alt="" class="image-7"/></div>
          </div>
          <div class="left-arrow-2 w-slider-arrow-left"><img src="../images/slider-arrow.png" loading="lazy" width="48" alt="" class="icon-2"/></div>
          <div class="right-arrow-2 w-slider-arrow-right"><img src="../images/slider-arrow.png" loading="lazy" width="48" alt="" class="icon-2 right"/></div>
          <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
        <img src="../images/iphone-hero.png" loading="eager" id="w-node-_2e2f58b6-d8cb-4085-c75c-c2368523ebf1-8523ebd9" alt="" class="hero-right img hide"/>
      </div>
      <img src="../images/circle-shape.svg" loading="eager" alt="" class="hero-circle bottom-right motorist"/>
      <img src="../images/circle-shape.svg" loading="eager" alt="" class="hero-circle top-right motorist"/>
      <img src="../images/circle-shape.svg" loading="eager" alt="" class="hero-circle left"/>
    </div>
  </div>

  <div id="Features---Tabs" class="section law-e-copy">
    <div class="container">
      <div class="section-flex-wrap">
        <div class="feature-tabs-wrap">
          <div class="half-div full-width-mobile">
            <div data-w-id="b0782e39-0e67-003b-b328-c608106a13a8" class="section-subtitle">features</div>
            <h2 data-w-id="b0782e39-0e67-003b-b328-c608106a13aa" class="section-title">Features you'll love</h2>
            <p data-w-id="b0782e39-0e67-003b-b328-c608106a13ac" class="section-paragraph">Our patented technology now allows you to interact digitally with law enforcement from a distance for a less intrusive experience removing some of the anxiety that comes with seeing those dreadful red and blues in your rearview.<br/>Motorists can't avoid getting pulled over but with Traafik, the experience will be quick, safe, and dare we say, a bit more pleasant.</p>
          </div>
          <div data-duration-in="300" data-duration-out="100" data-current="Police" data-easing="ease" class="feature-tabs w-tabs">
            <div data-w-id="b0782e39-0e67-003b-b328-c608106a13af" class="feature-tabs-menu w-tab-menu">
              <a data-w-tab="Driver Friendly" class="feature-tab-link w-inline-block w-tab-link">
                <div class="feature-tab-icon"><img alt="" loading="lazy" src="../images/icon-car.png" class="feature-tab-icon-img"/></div>
                <div><strong>Motorist Friendly</strong></div>
              </a>
              <a data-w-tab="Pay Tickets Instantly" class="feature-tab-link w-inline-block w-tab-link">
                <div class="feature-tab-icon"><img alt="" loading="lazy" src="../images/icon-invoice.png" class="feature-tab-icon-img"/></div>
                <div>Pay Tickets Instantly</div>
              </a>
              <a data-w-tab="Police" class="feature-tab-link w-inline-block w-tab-link w--current">
                <div class="feature-tab-icon"><img alt="" loading="lazy" src="../images/icon-police.png" class="feature-tab-icon-img"/></div>
                <div>Law Enforcement:</div>
              </a>
            </div>
            <div class="feature-tabs-content w-tab-content">
              <div data-w-tab="Driver Friendly" class="features-tab-pane w-tab-pane">
                <div class="feature-pane-flex">
                  <ul role="list" class="list">
                    <li class="features-list-item">Streamlined innovation ends bias policing and keeping everyone safe.</li>
                    <li class="features-list-item">Process your citation in less than 10 minutes from start to finish and be on your way.</li>
                    <li class="features-list-item">Smart technology positively verifies and exchanges  motorists and law enforcement profiles digitally.</li>
                  </ul>
                </div>
              </div>
              <div data-w-tab="Pay Tickets Instantly" class="features-tab-pane w-tab-pane">
                <div class="feature-pane-flex">
                  <ul role="list" class="list">
                    <li class="features-list-item">Pay past parking tickets using our app.</li>
                    <li class="features-list-item">All citations are routed to the proper municipalities. </li>
                    <li class="features-list-item">Pay your citation instantly if you choose to do so.</li>
                    <li class="features-list-item">Integrates seamlessly with your favorite payment gateways like</li>
                    <li class="features-list-item">Stripe, Venmo, Zelle, Paypal, and more.</li>
                  </ul>
                </div>
              </div>
              <div data-w-tab="Police" class="features-tab-pane w-tab-pane w--tab-active">
                <div class="feature-pane-flex">
                  <ul role="list" class="list">
                    <li class="features-list-item"><strong class="bold-text">Interact digitally with motorist from a distance during traffic stops.</strong></li>
                    <li class="features-list-item"><strong class="bold-text">Our voice-activated API helps the motorist step-by-step during the stop.</strong></li>
                    <li class="features-list-item"><strong class="bold-text">Integrates seamlessly with law enforcement's current IT and record management systems (RMS)</strong></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section law-e">
    <div class="container">
      <div class="full-width-video-wrap">
        <img src="../images/traffic-jam.jpeg" loading="eager" sizes="(max-width: 5760px) 100vw, 5760px" srcset="../images/traffic-jam-500.jpeg 500w, ../images/traffic-jam-800.jpeg 800w, ../images/traffic-jam-1080.jpeg 1080w, ../images/traffic-jam-1600.jpeg 1600w, ../images/traffic-jam-2000.jpeg 2000w, ../images/traffic-jam-2600.jpeg 2600w, ../images/traffic-jam-3200.jpeg 3200w, ../images/traffic-jam.jpeg 5760w" alt="Traffic jam" class="zoom-image"/>
      </div>
    </div>
  </div>

  